@import './base.css';

body {
  font-family: 'Cascadia Code', sans-serif;
  background: url('/grain-bg.png') repeat center center fixed;
}

.header__logo {
  font-family: 'Beatrice Deck Trial', sans-serif;
}

.container {
  padding: 0 1.875rem;
}
